<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Neogym</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/bootstrap.css"/>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="../../public/assets/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="../../public/assets/css/responsive.css" rel="stylesheet"/>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/i18next@21.6.3/i18next.min.js"></script>
</head>

<body class="bg-[url('/public/assets/images/hero-bg.jpg')] bg-cover bg-center bg-no-repeat">
<header class="mx-10 header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="../../index.html">
                <span> Neogym </span>
            </a>
            <select class="bg-white" id="languageSelector">
                <option value="en">EN</option>
                <option value="fr">FR</option>
                <option value="de">DE</option>
            </select>
        </nav>
    </div>
</header>

<main class="bg-[#2b2f5d80] min-h-screen text-[#FFFFFF]">
    <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg text-center">
            <h1 id="page-title" class="text-2xl font-bold sm:text-3xl" data-i18n="identifier_page.title"></h1>

            <p class="mt-4 text-white-500"
               data-i18n="identifier_page.description"
            ></p>
        </div>

        <form id="login-form" class="mx-auto mt-8 mb-0 max-w-md space-y-4">
            <div>
                <label for="email" class="sr-only">Email</label>

                <div class="relative">
                    <p data-i18n="identifier_page.email"></p>

                    <div class="bg-white rounded-lg">
                        <input id="email" type="email"
                               class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-xs text-black"/>

                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                    </span>
                    </div>
                    <div id="email-warning" class="warning"></div>
                    <br/>
                </div>

                <div>
                    <label for="password" class="sr-only">Password</label>
                    <div class="relative">
                        <p data-i18n="identifier_page.password"></p>
                        <div class="bg-white rounded-lg">
                            <input id="password" type="password"
                                   class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-xs text-black"/>
                        </div>
                    </div>
                    <div id="password-warning" class="warning"></div>
                    <br/>
                </div>

                <div class="flex items-center justify-between flex-wrap px-3">
                    <div class="flex flex-row text-sm text-gray-500">
                        <p class="p-1" data-i18n="identifier_page.no-account">
                        </p>
                        <a data-i18n="identifier_page.sign-up" class="underline p-1" href="#"></a>
                    </div>

                    <button id="submitBtn" disabled type="submit"
                            class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white disabled:bg-gray-300 disabled:cursor-not-allowed"
                            data-i18n="identifier_page.sign-in">
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
<script src="../../public/assets/js/jquery-3.4.1.min.js"></script>
<script src="../../public/assets/js/bootstrap.js"></script>
<script src="/app/services/translation.js"></script>
<script src="/app/services/identifer.js"></script>
</body>

</html>